<div class="row">
    <div class="col-md-12">
       
        <form>
            <div class="form-group">
                <label for="txtNombreProducto">Nombre del producto</label>
                <input type="text" class="form-control" id="txtNombreProducto" placeholder="Ejemplo: Coca-cola">
            </div>

            <div class="form-group">
                <label for="txtPrecioCompra">Precio de compra</label>
                <input type="text" class="form-control" id="txtPrecioCompra" placeholder="Ejemplo: 35.70">
            </div>

            <div class="form-group">
                <label for="txtPrecioAlPorMenor">Precio al por menor</label>
                <input type="text" class="form-control" id="txtPrecioAlPorMenor" placeholder="Ejemplo: 32.70">
            </div>

            <button class="btn btn-primary" id="btnGuardar">
                <span id="lblGuardarCambios">
                    Guardar cambios 
                </span>
                <span id="lblProcesando" class="hide">
                    Procesando...
                </span>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </form>

    </div>
</div>