<div class="row">
    <div class="col-md-12">
       
        <form id="frmGuardarCambios">

            <div class="alert alert-success alert-dismissible hide" role="alert" id="alertFormulario">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong id="lblMensajeFormulario"></strong>
            </div>

            <input type="hidden" value="0"  id="hdId"/>

            <div class="form-group">
                <label for="txtNombreProducto">Nombre del producto</label>
                <input type="text" class="form-control" id="txtNombreProducto"
                       name="txtNombreProducto" autofocus placeholder="Ejemplo: Coca-cola">
            </div>

            <div class="form-group">
                <label for="txtPrecioCompra">Precio de compra</label>
                <input type="text" class="form-control" id="txtPrecioCompra" 
                       name="txtPrecioCompra"
                       placeholder="Ejemplo: 35.70">
            </div>

            <div class="form-group">
                <label for="txtPrecioAlPorMenor">Precio al por menor</label>
                <input type="text" class="form-control" id="txtPrecioAlPorMenor"
                       name="txtPrecioAlPorMenor"  
                       placeholder="Ejemplo: 32.70">
            </div>

            <button class="btn btn-primary" id="btnGuardar">
                <span id="lblGuardarCambios">
                    Guardar cambios 
                </span>
                <span id="lblProcesando" class="hide">
                    Procesando...
                </span>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button class="btn btn-default" id="btnCancel">
                Cancelar
            </button>
        </form>

    </div>
</div>