@{
    ViewBag.Title = "Compras";
}

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>

    @Scripts.Render("~/bundle/products")
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            Productos
        </h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-primary" id="btnCrearProducto">
                        Crear producto
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible hide" role="alert" id="alertCorrecto">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong id="lblMensaje"></strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="tblProductos" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Producto ID</th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Precio de compra
                            </th>
                            <th>
                                Precio al por menor
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Ventana modal para editar/crear un producto-->
<div class="modal fade" tabindex="-1" role="dialog" id="mdlModalProducto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mdlProductoTitulo">Crear un nuevo producto</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_ProductForm")
            </div>
        </div>
    </div>
</div>


